body {
    background-color: bisque;
    margin: 0%;
    padding: 0%;
    font-family: monospace;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2vw;
    
}
li{font-size: 1.2vw;}



.Blocos {
    display: flex;
    flex-direction: row;
}

.Nav {
    display: flex;
    font-size: 1.2vw;
    align-items: center;
    flex-direction: column;
    background-color: #ACCE91;
    width: 20%;
    height: 137vh;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.Nav ul {
    font-size: 1.7vw;
}

.Content {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.Titulo {
    padding: 1%;
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #8DB986;
    height: 20vh;
    width: 98%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.img1 {
    border-radius: 15%;
    width: 14vw;
    max-width: 100%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.img2 {
    border-radius: 15%;
    width: 14vw;
    max-width: 100%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.img3 {
    margin-top: 4%;
    border-radius: 50%;
    height: 10vh;
    width: 20vw;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.2);
}

.Blocos2 {
    display: flex;
    flex-direction: row;
    font-size: 1.1vw;
}

.Bloco2 {
    background-image: url(img/18966141.jpg);
    background-size: cover;
    border: solid 2px #ddd;
    padding: 2%;
    height: 85vh;
    font-size: 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    
}







.Rodape {
    background-color:rgb(19, 135, 212);;
    color: white;
    text-align: center;
    height: 18.4vh;
    font-size: 1.2vw;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 1% 0;
    
}

.Bloco2-1 {
    display: flex;
    flex-direction: row;
    font-size: 1.1vw;
    text-align: justify;

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 2%;
    border-radius: 10px;
    background-color: white;
    p{
        padding-left: 5%;
    }
}

.p{ 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 2%;
    border-radius: 10px;
    background-color: white;
    margin-top: 2%;
    
}

@media screen and (max-width: 480px) {
    *{
        display: flex;
        flex-direction: column;
    }
    .img1{
        width: 25%;
    }
    .img2{
        width: 30%;
    }
    
    .Titulo{
        h1{
            font-size: 2.7vw;
        }
    }
    
    .Blocos2{
        display: flex;
        flex-direction: column;
    }
    
    
    .p{
        font-size: 2vw;
    }
    .Bloco2-1{
        font-size: 1.8vw;
    }
    .img3{
        width: 30vw;
    }
    
    .Bloco2{
        height: 65vh;
        font-size: 2vw;
    }
  
    
    .Nav{
        font-size: 2vw;
        height: 120.5vh;
        padding-top: 35%;
        h2{
            margin-left: 15%;
        }
        a{
        font-size: 2vw;
    
        }
    }
    .Rodape{
        font-size: 1.5vw;
        height: 8.9vh;
    }
    }
    
    








@media screen and (max-width: 481px) (max-width: 768px)  {
*{
    display: flex;
    flex-direction: column;
    
}

    .Bloco2-1 {

        font-size: 1.7vw;
        height: 20vh;
    }

    .Bloco2 {
        height: 50vh;
        h2 {
            margin-top: 2%;
            font-size: 2vw;
        }


    }

    .p {
        font-size: 1.7vw;
        
    }

    .img1 {
        width: 18vw;

    }

    .img2 {
        width: 20vw;

    }

    .img3{
        
    }
    .Titulo {
        font-size: 2vw;
    }

   

    .Nav {
        
        font-size: 2vw;
        height: 50vh;
       


        a {
            font-size: 1.9vw;
        }                 

        h2 {
            margin-left: 14%;
        }
    }

.Rodape{
    font-size: 1.6vw;
}

}